@font-face { font-family: Now; font-weight: 100; src: url('fonts/Now/Now-Thin.otf');       }
@font-face { font-family: Now; font-weight: 200; src: url('fonts/Now/Now-ExtraLight.otf'); }
@font-face { font-family: Now; font-weight: 300; src: url('fonts/Now/Now-Light.otf');      }
@font-face { font-family: Now; font-weight: 400; src: url('fonts/Now/Now-Regular.otf');    }
@font-face { font-family: Now; font-weight: 500; src: url('fonts/Now/Now-Medium.otf');     }
@font-face { font-family: Now; font-weight: 600; src: url('fonts/Now/Now-SemiBold.otf');   }
@font-face { font-family: Now; font-weight: 700; src: url('fonts/Now/Now-Bold.otf');       }
@font-face { font-family: Now; font-weight: 800; src: url('fonts/Now/Now-ExtraBold.otf');  }
@font-face { font-family: Now; font-weight: 900; src: url('fonts/Now/Now-Black.otf');      }
