@import url('fonts.css');

html, body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container > div {
    position: absolute;
    top: 0;
    left: 0;
}

.background {
    z-index: -1;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(#111, #333);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    color: white;
    font-family: 'Now';
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.content > .padding-1 { flex-grow: 1; }
.content > .padding-2 { flex-grow: 2; }
.content > .padding-3 { flex-grow: 2; }

.clock {
    font-size: 5rem;
    font-weight: 300;
}

.date {
    font-size: 2rem;
    font-weight: 300;
}

.list {
    display: flex;
    flex-direction: row;
}

.list > .padding { flex-grow: 2; }

.list ul {
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
}

.list a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.list a:hover {
    text-decoration: underline;
}

.icons {
    margin: 0px 8px;
    text-align: right;
}

.icons a {
    filter: opacity(50%) drop-shadow(1px 1px 2px black);
    -webkit-filter: opacity(50%) drop-shadow(1px 1px 2px black);
}

.icons a:hover {
    filter: opacity(100%) drop-shadow(1px 1px 2px black);
    -webkit-filter: opacity(100%) drop-shadow(1px 1px 2px black);
}

.icons .photo:before  { content: url('icons/aperture.svg'); }
.icons .gitlab:before { content: url('icons/gitlab.svg');   }
